@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  a {
  text-decoration: none;
}

  
}

@layer components {
  .btn {
    @apply rounded bg-blue-500 px-4 py-2 text-white;
  }

  .btn-indigo {
    @apply bg-indigo-500 text-white;
  }

  .btn-indigo:hover {
    @apply bg-indigo-600;
  }

  .btn-blue {
    @apply inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:ring-0 focus:outline-none;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
@keyframes fade-in-out {
  0%, 100% { opacity: 0; transform: translateY(-10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-out {
  animation: fade-in-out 2.5s ease-in-out;
}

@import "tailwindcss";